# Checks of cyclists data

In [3]:
# Autoreload allows the notebook to dynamically load code: if we update some helper functions *outside* of the notebook, we do not need to reload the notebook.
%load_ext autoreload
%autoreload 2

In [4]:
import pandas as pd
import numpy as np
import re
import unicodedata

We load the dataset from a CSV file and display the first few rows to get an initial understanding of the data. This helps us verify that the data has been loaded correctly and gives us a glimpse of its structure and contents.

In [5]:
csv_file = "../data/cyclists.csv"
dataset = pd.read_csv(csv_file)
dataset.head()

,_url,name,birth_year,weight,height,nationality
0,bruno-surra,Bruno Surra,1964.0,NaN,NaN,Italy
1,gerard-rue,Gérard Rué,1965.0,74.0,182.0,France
2,jan-maas,Jan Maas,1996.0,69.0,189.0,Netherlands
3,nathan-van-hooydonck,Nathan Van Hooydonck,1995.0,78.0,192.0,Belgium
4,jose-felix-parra,José Félix Parra,1997.0,55.0,171.0,Spain

## Initial Info

Now we provide a concise summary of the DataFrame, including the number of non-null entries, data types of each column, and memory usage. It helps us quickly identify missing values and understand the overall structure of the dataset.

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6134 entries, 0 to 6133
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _url         6134 non-null   object
 1   name         6134 non-null   object
 2   birth_year   6121 non-null   float64
 3   weight       3078 non-null   float64
 4   height       3143 non-null   float64
 5   nationality  6133 non-null   object
dtypes: float64(3), object(3)
memory usage: 287.7+ KB

Also, we generates a descriptive statistics for numerical columns in the DataFrame. It includes metrics such as count, mean, standard deviation, minimum, and maximum values, as well as the 25th, 50th, and 75th percentiles. This summary helps us understand the distribution and central tendency of the data.

In [8]:
dataset.describe()

        birth_year       weight       height
count  6121.000000  3078.000000  3143.000000
mean   1974.071884    68.658739   179.815145
std      15.535834     6.348183     6.443447
min    1933.000000    48.000000   154.000000
25%    1962.000000    64.000000   175.000000
50%    1974.000000    69.000000   180.000000
75%    1987.000000    73.000000   184.000000
max    2004.000000    94.000000   204.000000

We use the `value_counts()` method to count the occurrences of each unique value in specified columns of a DataFrame

In [8]:
# Count numer of same values in every column
#dataset['_url'].value_counts()
#dataset['name'].value_counts()
#dataset['birth_year'].value_counts()
#dataset['weight'].value_counts()
#dataset['height'].value_counts()
#dataset['nationality'].value_counts()

name
Sergio  Domínguez       2
Alberto  Fernández      2
Jesús  López            2
Antonio  Cabello        2
Alessandro  Pozzi       2
                       ..
Juan José  Martínez     1
Iñigo  Elosegui         1
Paolo  Alberati         1
Jackson  Rodríguez      1
Jean-Philippe  Dojwa    1
Name: count, Length: 6127, dtype: int64

## Check on '_url' data

In this block we compare the `_url` and `name` columns and compare the components of the `_url` and `name` to see where there are discrepancies.

In [11]:
#For each data, split '_url' data and 'name' data to compare them
i=0
for index, row in dataset.iterrows():
    if not pd.isnull(row['_url']):
        url = row['_url'].lower().split('-')

        # Normqlize name in only ascii characters
        norm_name = re.sub(r'[ł]', 'l', row['name'].lower())
        norm_name = unicodedata.normalize('NFKD', norm_name).encode('ASCII', 'ignore').decode('utf-8')
        name = re.split(r'\s+', norm_name)
        
        if url != name:
            i+=1
            print(row['_url'], row['name'], i)

graeme-brown Graeme Allen  Brown 1
jean-claude-theilliere Jean-Claude  Theillière 2
jesus-rodriguez-rodriguez Jesús  Rodríguez 3
iban-herrero-atienzar Ivan  Herrero 4
juan-ayuso-pesquera Juan  Ayuso 5
anselmo-fuerte-abelenda Anselmo  Fuerte 6
luis-ricardo-mesa-saavedra Luis Ricardo  Mesa 7
joseba-lopez-cuesta Joseba  López 8
yecid-sierra Yecid Arturo  Sierra 9
edgar-humberto-ruiz Edgar-humberto  Ruiz 10
manuel-mesa José Manuel  Mesa 11
willy-in-t-ven Willy In 't Ven 12
marlon-alirio-perez-arango Marlon Alirio  Pérez 13
jean-pierre-berckmans Jean-Pierre  Berckmans 14
iban-sastre-estevez Iban  Sastre 15
gonzalo-rabunal-rios Gonzalo  Rabuñal 16
jean-jacques-philipp Jean-Jacques  Philipp 17
jean-pierre-monsere Jean-Pierre  Monseré 18
jose-alberto-benitez-roman José Alberto  Benítez 19
patrick-busolini2 Patrick  Busolini 20
manuel-cardoso Manuel Antonio Leal  Cardoso 21
syver-waersted Syver  Wærsted 22
fernando-mendes Fernando dos Reis Dias  Mendes 23
tom-jelte-slagter Tom-Jelte  Slagter 24
inaki-isasi-flores Iñaki  Isasi 25
juan-martinez-oliver Juan  Martínez 26
jose-francisco Jose Francisco  Jarque 27
pedro-jimenez-villanueva Pedro  Jiménez 28
angel-gomez-gomez Ángel  Gómez 29
andrea-peron-1 Andrea  Peron 30
javier-etxarri-marin Javier  Etxarri 31
marco-chagas Marco António  Chagas 32
fernando-serrano-sanchez Fernando  Serrano 33
hector-guerra-garcia Héctor  Guerra 34
hans-kanel2 Hans  Känel 35
jean-patrick-nazon Jean-Patrick  Nazon 36
negasi-abreha Negasi Haylu  Abreha 37
jean-jacques-henry Jean-Jacques  Henry 38
cesar-perez-padron César  Pérez 39
jose-luis-de-santos-arribas Jose Luis  De Santos 40
joaquim-galera Joaquín  Galera 41
juan-martin-zapatero-marcos Juan Martín  Zapatero 42
pier-andre-cote Pier-André  Côté 43
oliverio-rincon-quintana Oliverio  Rincón 44
jean-marie-vernie Jean-marie  Vernie 45
gines-garcia-pallares Ginés  García 46
luis-edgar-espinosa-sepulveda Luis Edgar  Espinosa 47
jan-willem-van-schip Jan-Willem van Schip 48
jonathan-tiernan-locke Jonathan  Tiernan-Locke 49
jean-claude-fabbri Jean-Claude  Fabbri 50
javier-perez-pereira Javier  Pérez 51
juan-cesar-aguirre Julio César  Aguirre 52
jairo-de-jesus-hernandez-montoya Jairo de Jesús  Hernández 53
juergen-werner Jürgen  Werner 54
jean-cyril-robin Jean-Cyril  Robin 55
francisco-cerezo Francisco Javier  Cerezo 56
julio-cesar Julio César  Ortegón 57
ramon-troncoso-sobrino José Ramón  Troncoso 58
bruno-manuel-silva-pires Bruno  Pires 59
lasse-bochmann Lasse  Bøchmann 60
pierre-henri-lecuisinier Pierre-Henri  Lecuisinier 61
jean-michel-thilloy Jean-Michel  Thilloy 62
angel-vallejo-dominguez Ángel  Vallejo 63
peter-williams-1 Peter  Williams 64
joaquin-novoa-mendez Joaquín  Novoa 65
jean-louis-danguillaume Jean-Louis  Danguillaume 66
jean-francois-chaurin Jean-François  Chaurin 67
manuel-martin-conde Manuel  Martin-conde 68
juan-garcia2 Juan  García 69
paniego-fuentes Ángel  Fuentes 70
chris-anker-sorensen Chris Anker  Sørensen 71
amaro-manuel-antunes Amaro  Antunes 72
alexander-edmondson Alex  Edmondson 73
jose-luis-san-jose-amo José Luis  San José 74
nick-dougall Nic  Dougall 75
roberto-laiseka-jaio Roberto  Laiseka 76
david-garcia-marquina David  García 77
edward-irl-dunbar Eddie  Dunbar 78
pedro-diaz-lobato Pedro  Díaz 79
israel-corredor-fonseca Israel  Corredor 80
gottfried-gody-schmutz Gottfried  Schmutz 81
elias-schmaeh Elias  Schmäh 82
jean-paul-van-poppel Jean-Paul van Poppel 83
jose-gabriel-alonso-pascual José Gabriel  Alonso 84
eduard-michael-grosu Eduard-Michael  Grosu 85
jean-claude-garde Jean-Claude  Garde 86
jose-gomez-lucas José  Gómez 87
william-billy-bilsland William  Bilsland 88
anders-lund-1 Anders  Lund 89
julen-urbano-aretxabala Julen  Urbano 90
alexander-gontsjenkov Alexander  Gontchenkov 91
gustav-larsson Gustav Erik  Larsson 92
julian-usano-martinez Julian  Usano 93
manuel-carrera-punzon Manuel  Carrera 94
fernando-sousa-fernandes Fernando  Fernandes Sousa 95
embret-svestad-bardseng Embret  Svestad-Bårdseng 96
jose-maria-gonzalez-barcala Jose Maria  Gonzalez 97
luis-felipe-laverde-jimenez Luis Felipe  Laverde 98
fredy-gonzalez Freddy Excelino  González 99
gaztanaga-echevarria Mikel  Gaztañaga 100
pedro-pinto2 Pedro  Pinto 101
jose-antonio-gonzalez-linares José Antonio  González 102
raimondas-rumsas-1 Raimondas  Rumšas 103
zsolt-der Žolt  Dér 104
raul-acosta-arias Raul  Acosta 105
jean-pierre-danguillaume Jean-Pierre  Danguillaume 106
victor-hugo-olarte Victor-hugo  Olarte 107
peter-roman Roman  Peter 108
jesper-hansen-1 Jesper  Hansen 109
jean-luc-vandenbroucke Jean-Luc  Vandenbroucke 110
dayer-quintana-rojas Dayer  Quintana 111
claus-michael-moller Claus Michael  Møller 112
mauro-antonio-santaromita Mauro-Antonio  Santaromita 113
alejandro-franco-gonzalez Alejandro  Franco 114
theo-de-rooy Theo de Rooij 115
rene-joergensen René  Jørgensen 116
xabier-berasategi-garmendia Xabier  Berasategi 117
daniel-arroyave-canas Daniel  Arroyave 118
jean-luc-yansenne Jean-Luc  Yansenne 119
roberto-gonzalez Roberto Carlos  González 120
brian-holm-sorensen Brian  Holm Sørensen 121
andres-bermejo-siller Andres  Bermejo 122
antonio-d-alonzo Antonio  D'alonzo 123
stefan-koychev-histrov Stefan Koychev  Hristov 124
pablo-lechuga-rodriguez Pablo  Lechuga 125
jesus-hernandez-ubeda Jesús  Hernández 126
jorgen-marcussen Jørgen  Marcussen 127
frederico-rocchetti Federico  Rocchetti 128
danielle-cignali Daniele  Cignali 129
sven-ake-nilsson Sven-Åke  Nilsson 130
jesus-rosado-caballero Jesus  Rosado 131
marco-votolo Marco Franco  Votolo 132
xabier-isasa-larranaga Xabier  Isasa 133
javier-cedena Francisco Javier  Cedena 134
pelayo-sanchez-mayo Pelayo  Sánchez 135
wanderley-magalhaes Wanderley  Magalhães Azevedo 136
anthony-houbrechts Antoon  Houbrechts 137
isidro-nozal-vega Isidro  Nozal 138
dmitro-krivtsov Dmytro  Krivtsov 139
jose-enrique-gutierrez-cataluna José Enrique  Gutiérrez 140
javier-ramirez-abeja Javier  Ramírez 141
iban-mayoz-echeverria Iban  Mayoz 142
jose-maestre José Manuel  Maestre 143
eduardo-perez-landaluce Eduardo  Pérez-Landaluce 144
fabio-rodriguez Fabio Hernan  Rodríguez 145
zakkari-dempster Zak  Dempster 146
igor-astarloa-ascasibar Igor  Astarloa 147
juan-javier-estrada-ruiz Juan Javier  Estrada 148
awet-gebremedhin-andemeskel Awet  Gebremedhin 149
jorgen-vagn-pedersen Jørgen Vagn  Pedersen 150
aitor-hernandez-gutierrez Aitor  Hernández 151
soren-lilholt Søren  Lilholt 152
inaki-ayarzaguena-urkidi Iñaki  Ayarzaguena 153
jose-julian-balaguer José-julian  Balaguer 154
raimundo-vairetti Raimondo  Vairetti 155
eufronio-enrique-sahagun Eufrenio Enrique  Sahagún 156
jean-francois-rodriguez Jean-François  Rodriguez 157
crescenzo-d-amore Crescenzo  D'Amore 158
johan-price-pejtersen Johan  Price-Pejtersen 159
joaquin-lopez-torella Joaquin  López 160
pablo-rincon-murcia Pablo  Rincon 161
juan-ramirez Juan Diego  Ramirez 162
jose-manuel-diaz-gallego José Manuel  Díaz 163
juan-alberto Juan Alberto  Reig 164
glenn-d-hollander Glenn  D'Hollander 165
soren-petersen Søren  Petersen 166
jesus-ignacio-alonso Jésus-ignacio  Alonso 167
alessandro-fantini-1 Alessandro  Fantini 168
alan-lezaun-perez Alan  Pérez 169
jose-antonio-redondo-ramos José Antonio  Redondo 170
carlos-alberto-maya-lizcano Carlos Alberto  Maya 171
carlos-osorio Carlos Andres  Osorio 172
vladimir-muravski Uladzimir  Murauski 173
javier-chacon-quesada Javier  Chacón 174
jose-inguanzo José Luis  Rodriguez 175
rafael-garcia José Rafael  García 176
miguel-sanabria Miguel Ángel  Sanabria 177
jose-martins José Freitas  Martins 178
abelardo-rios Abelardo Antonio  Ríos 179
gene-michael-bates Gene  Bates 180
juan-carlos-guillamon-ruiz Juan Carlos  Guillamón 181
antony-doyle Tony  Doyle 182
juan-llaneras-rossello Juan  Llaneras 183
jorgen-bo-petersen Jørgen Bo  Petersen 184
romain-gregoire1 Romain  Grégoire 185
rui-miguel-sousa-barbosa Rui  Sousa 186
gustavo-rodriguez-iglesias Gustavo  Rodríguez 187
jose-luis-faura-asensio Jose Luis  Faura 188
jose-nazabal-mimendia José  Nazabal 189
marco-zanotti-1 Marco  Zanotti 190
pedro-merino-criado Pedro  Merino 191
jan-tilborg Jan Van Tilborg 192
don-allan Donald  Allan 193
santiago-laczano Santiago  Lazcano 194
jean-claude-bagot Jean-Claude  Bagot 195
alvaro-gonzalez Álvaro  González de Galdeano 196
juan-mauricio-soler-hernandez Juan Mauricio  Soler 197
hector-orlando-mesa-mesa Hector Orlando  Mesa 198
vicente-lopez-carril Vicente  López 199
roman-kreuziger-sr Roman  Kreuziger 200
nicki-sorensen Nicki  Sørensen 201
daniel-lloyd1 Daniel  Lloyd 202
manuel-calvente-corbas Manuel  Calvente 203
eduardo-ramirez-gonzalo Eduardo  Gonzalo 204
alberto-fernandez-de-la-puebla-ramos Alberto  Fernández de la Puebla 205
daniel-atienza-urendez Daniel  Atienza 206
anton-luengo Antton  Luengo 207
jean-pierre-baert Jean-Pierre  Baert 208
ezequiel-mosquera-miguez Ezequiel  Mosquera 209
jean-marc-marino Jean-Marc  Marino 210
francisco-tomas-garcia-rodriguez Francisco Tomás  García 211
antoine-guttierrez Antoine  Gutierrez 212
oscar-de-jesus-vargas-restrepo Óscar de Jesús  Vargas 213
txema-del-olmo-zendegi Txema del Olmo 214
kenneth-van-bilsen Kenneth  Vanbilsen 215
gomez-perez Sergio  Perez 216
camilo-jorge-castiblanco Jorge Camilo  Castiblanco 217
rafael-casero-moreno Rafael  Casero 218
robert-d-hondt Robert  D'Hondt 219
eloy-ruiz-pinto Eloy  Ruíz 220
renato-silva Renato Manuel Gomes  da Silva 221
sergi-escobar-roure Sergi  Escobar 222
jose-antonio-747 José Antonio  Cabrero 223
ricky-eno-jorgensen Ricky  Enø Jørgensen 224
sven-krauss Sven  Krauß 225
alex-cano-ardila Alex  Cano 226
antonio-pinto António Joaquim de Castro Oliveira Pinto 227
raul-rota-rus Raúl  Rota 228
ludwig-wijnants Ludwig  Wynants 229
jean-lou-paiani Jean-Lou  Paiani 230
brandon-smith-rivera-vargas Brandon Smith  Rivera 231
carlos-pinho Carlos Manuel  Pinho 232
unai-iribar-jauregi Unai  Iribar 233
igor-arrieta-lizarraga Igor  Arrieta 234
luciano-andre-pagliarini-mendonca Luciano André  Pagliarini 235
alejandro-marque Alejandro Manuel  Marque 236
jorge-manuel-dos-santos-silva Jorge Manuel  Silva 237
kenny-van-braeckel2 Kenny Van Braeckel 238
luis-perez-garcia Luis  Pérez 239
alessandro-pozzi2 Alessandro  Pozzi 240
pino-cerami-2 Pino  Cerami 241
ruben-perez-moreno Rubén  Pérez 242
johan-wellens2 Johan  Wellens 243
abraham-olano-manzano Abraham  Olano 244
christobal-perez Cristóbal  Pérez 245
francisco-martin-826 Francisco  Martin 246
inigo-landaluze-intxaurraga Iñigo  Landaluze 247
jordi-lopez-caravaca Jordi  López 248
torstein-traeen Torstein  Træen 249
jean-luc-delpech Jean-Luc  Delpech 250
michael-valgren-andersen Michael  Valgren 251
bernardo-gonzalez-milano Bernardo  González 252
jose-miguel-elias-galindo José Miguel  Elías 253
ricardo-martinez2 Ricardo  Martinez 254
walter-fernando-pedraza-morales Wálter Fernando  Pedraza 255
josu-etxeberria-azpilikueta Josu  Etxeberria 256
jean-pierre-bourgeot Jean-Pierre  Bourgeot 257
pablo-castrillo-zapater Pablo  Castrillo 258
william-clarke Will  Clarke 259
aleksey-lutsenko Alexey  Lutsenko 260
sergio-luis-henao Sergio  Henao 261
oscar-pujol-munoz Óscar  Pujol 262
paul-voss Paul  Voß 263
rodney-green Rodney Jock  Green 264
jean-luc-masdupuy Jean-Luc  Masdupuy 265
pau-miquel-delgado Pau  Miquel 266
michael-sandstod Michael  Sandstød 267
francisco-jose-martinez-perez Francisco José  Martínez 268
charlesetienne-chretien Charles-Étienne  Chrétien 269
luis-fernandez-oliveira Luis  Fernández 270
thomas-danielson Tom  Danielson 271
francisco-javier-patxi-vila Francisco Javier  Vila 272
jean-claude-lebeau Jean-Claude  Lebeau 273
jose-marques Jose Carlos Freire  Marques 274
juan-rodrigo-arenas-gonzalez Juan Rodrigo  Arenas 275
inaki-murua-gorostidi Iñaki  Murua 276
mario-mariotti Mario-Eliseo  Mariotti 277
felix-grossschartner Felix  Großschartner 278
antonio-segismundo-de-la-torre-viel Antonio Segismundo de la Torre 279
gert-jan-theunisse Gert-Jan  Theunisse 280
diego-lopez-fuentes Diego  López 281
adrian-saez-de-arregi Adrián  Sáez 282
ivan-gutierrez José Iván  Gutiérrez 283
lawrence-warbasse Larry  Warbasse 284
michael-baer Michael  Bär 285
fernando-mota-dos Fernando  Mota 286
william-barta Will  Barta 287
jose-alfonso-lopez-linares-lemus José Alfonso  López 288
rafael-serrano-fernandez Rafael  Serrano 289
rodrigo-garcia-rena Rodrigo  García 290
gilbert-lelay Gilbert  Le Lay 291
carlos-marta Carlos Alberto Silva  Marta 292
rafael-mateos-perez Rafael  Mateos 293
juan-carlos-gonzalez-salvador Juan Carlos  González 294
jos-op-t-eyndt Jos Op 't Eyndt 295
dmitry-kozonchuk Dmitry  Kozontchuk 296
leon-paul-menard2 Léon-Paul  Menard 297
benjamin-king-1 Ben  King 298
dimitri-defauw Dimitri De Fauw 299
jose-antonio-sanchez-valencia José Antonio  Sánchez 300
jose-luis-sanchez-de-la-rocha José Luis  Sánchez 301
mario-gonzalez-salas Mario  González 302
antonio-cabello-baena Antonio  Cabello 303
richard-parra Richard Gustavo  Parra 304
hans-dekkers-1 Hans  Dekkers 305
jean-claude-colotti Jean-Claude  Colotti 306
inigo-chaurreau-bernardez Íñigo  Chaurreau 307
kevin-neirynck-1 Kevin  Neirynck 308
pedro-munoz-machin Pedro  Muñoz 309
cees-zoontjes Cees  Zoontjens 310
gilbert-duclos-lassalle Gilbert  Duclos-Lassalle 311
antonio-cruz-1 Antonio  Cruz 312
carlos-salgueiro Carlos Miguel  Salgueiro 313
jean-paul-le-bris Jean-paul Le Bris 314
jesus-lopez23 Jesús  López 315
nelson-soto Nelson Andrés  Soto 316
alberto-fernandez-sainz Alberto  Fernández 317
antonio-miguel Antonio Miguel  Diaz 318
jordi-fortia-marti Jordi  Fortià 319
volodymyr-zagorodny Vladimir  Zagorodnii 320
oscar-garcia-casarrubios Óscar  García-Casarrubios 321
joao-da-silva-correia João  Correia 322
luis-pedro-santamarina Luis-Pedro  Santamarina 323
charles-rouxel Charly  Rouxel 324
filippo-colombo1 Filippo  Colombo 325
jean-louis-peillon Jean-louis  Peillon 326
rafael-elvas-barbas Rafael  Barbas 327
fabio-andres-duarte Fabio  Duarte 328
pedro-miguel-lopes-goncalves Pedro  Goncalves 329
lizuarte-martins Lizuarte Manuel Gonçalves  Martins 330
matthew-brammeier Matt  Brammeier 331
jose-manuel-garcia-114 José Manuel  Garcia 332
francisco-javier-iriarte-garro Francisco Javier  Iriarte 333
kirk-o-bee Kirk  O'Bee 334
jean-eudes-demaret Jean-Eudes  Demaret 335
iker-flores-galarza Iker  Flores 336
juan-ramon Juan Ramón  Martin 337
alberto-camargo Luis Alberto  Camargo 338
hector-gonzalez-baeza Hector  Gonzalez 339
ruber-alverio-marin Ruber Alveiro  Marín 340
jokin-murguialday-elorza Jokin  Murguialday 341
robert-dill-bundi Robert  Dill-Bundi 342
javier-palacin-salgao Javier  Palacín 343
jeanluc-garnier Jean-luc  Garnier 344
jose-casas-garcia José  Casas 345
javier-ruiz-de-larrinaga-ibanez Javier  Ruiz de Larrinaga 346
joan-horrach Joan Sebastian  Horrach 347
valentin-paret-peintre Valentin  Paret-Peintre 348
janier-alexis-acevedo Janier  Acevedo 349
jean-francois-bernard Jean-François  Bernard 350
jose-luis-rodriguez-garcia José Luis  Rodríguez 351
jose-fabio José Fabio  Moreno 352
alberto-leanizbarrutia-abaunza Alberto  Leanizbarrutia 353
peter-meinert-nielsen Peter  Meinert-Nielsen 354
dailos-diaz-armas Dailos Manuel  Díaz Armas 355
angel-lopez-del-alamo Ángel  López 356
emilio-garcia-perez Emilio  Garcia 357
davide-dall-olio Davide  Dall'Olio 358
daniel-alejandro-mendez-norena Daniel Alejandro  Mendez 359
andrea-zatti-1 Andrea  Zatti 360
jean-francois-rault Jean-François  Rault 361
gustavo-dominguez-lemos Gustavo  Domínguez 362
juan-fernandez-martin Juan  Fernández 363
moretti-roberto Roberto  Moretti 364
jose-teixeira-rodriguez José  Teixeira 365
jean-marie-wampers Jean-Marie  Wampers 366
israel-ochoa Israel Antonio  Ochoa 367
johannes-staune-mittet Johannes  Staune-Mittet 368
david-gonzalez-lopez David  González 369
santiago-buitrago-sanchez Santiago  Buitrago 370
benat-albizuri-aransolo Beñat  Albizuri 371
domingo-jose-sanchez-segado Domingo José  Sánchez 372
murilo-ferraz-affonso Murilo  Affonso 373
francisco-fernandez-moreno Francisco  Fernández 374
jose-maria-palacin-salgado José María  Palacín 375
jose-xavier José  Guimarães 376
jefferson-cepeda-hernandez Jefferson Alveiro  Cepeda 377
ben-o-connor Ben  O'Connor 378
lluis-guillermo-mas Lluís  Mas 379
manuel-vazquez-hueso Manuel  Vázquez 380
carlos-oyarzun Carlos Iván  Oyarzún 381
jose-antonio-carrasco-ramirez José Antonio  Carrasco 382
efrain-gutierrez-sanchez Efraín  Gutiérrez 383
jean-paul-hosotte Jean-Paul  Hosotte 384
ramon-garcia-espana Ramón  Garcia 385
david-oloughlin David  O'Loughlin 386
jose-luis-carrasco-gamiz José Luis  Carrasco 387
ariel-maximiliano-richeze Maximiliano  Richeze 388
jean-pierre-heynderickx Jean-Pierre  Heynderickx 389
jonathan-gonzalez-rios Jonathan  Gonzalez 390
jaime-tomas Jaime Tomás  Florit 391
john-lee-augustyn John-Lee  Augustyn 392
agustin-gago-pena Agustín  Peña 393
nevens-guy Guy  Nevens 394
emilien-benoit-berges Émilien-Benoît  Bergès 395
oleg-joukov Oleg  Zhukov 396
sven-erik-bystrom Sven Erik  Bystrøm 397
jean-jacques-fussien Jean-Jacques  Fussien 398
marco-cattaneo-2 Marco  Cattaneo 399
martin-urianstad Martin Urianstad Bugge 400
francisco-lopez-393 Francisco  Lopez 401
asbjorn-hellemose Asbjørn  Hellemose 402
lander-euba-ziarrusta Lander  Euba 403
federico-garcia-melia Federico  García 404
enrique-mata-cabello Enrique  Mata 405
romero-jesus-buendia Jesús  Buendía 406
rustam-tukhvatulin Roustam  Toukhvatoulin 407
alexandre-rua Alexandre  Ruas 408
luis-santos Luis Marques Santos 409
fran-ventoso Francisco José  Ventoso 410
brandon-alejandro-rojas-vega Brandon Alejandro  Rojas 411
jesus-gabriel-arguintxona-abarrategui Jesús Gabriel  Arguintxona 412
libardo-nino-corredor Libardo  Niño 413
mursio-rivas Mursio  Ribas 414
michele-scotto-abusco Michele  Scotto d'Abusco 415
tsgabu-gebremaryam-grmay Tsgabu  Grmay 416
aliaksandr-kuchynski Aleksandr  Kuschynski 417
jean-pierre-parenteau Jean-Pierre  Parenteau 418
asbjorn-kragh-andersen Asbjørn  Kragh Andersen 419
ramon-gonzalez-arrieta José Ramón  González 420
michel-nottebart-2 Michel  Nottebart 421
brian-vandborg Brian Bach  Vandborg 422
abel-balderstone-roumens Abel  Balderstone 423
hubert-krys Hubert Jacek  Krys 424
stefano-d-arcangelo Stefano  D'arcangelo 425
moises-aldape Moises Antonio  Aldape 426
leangel-linarez Leangel Rubén  Linarez 427
jose-antonio-garrido-lima José Antonio  Garrido 428
daniel-petrov Daniel Bogomilov  Petrov 429
sebastian-mora-vedri Sebastián  Mora 430
daniel-alexander-jaramillo-diez Daniel  Jaramillo 431
arturo-gravalos-lopez Arturo  Grávalos 432
benjamin-gonzalez-noval Benjamín  Noval 433
jean-claude-leclercq Jean-Claude  Leclercq 434
marcin-mrosek Marcin  Mrożek 435
martin-garrido-mayorga Martin Gerardo  Garrido 436
enekoitz-azparren-irurzun Enekoitz  Azparren 437
ruben-oarbeaskoa-ispizua Rubén  Oarbeaskoa 438
jakob-piil Jakob Storm  Piil 439
jan-svorada-1 Ján  Svorada 440
thomas-scully Tom  Scully 441
soren-kragh-andersen Søren Kragh Andersen 442
bruno-miguel-castanheira-gomes Bruno Miguel  Castanheira 443
raul-garcia Raul  García de Mateos 444
truls-korsaeth Truls Engen  Korsæth 445
david-plaza-romero David  Plaza 446
urko-berrade-fernandez Urko  Berrade 447
manuel-lloret-zaragoza Manuel  Lloret 448
unai-etxebarria-arana Unai  Etxebarria 449
wilson-estiben-pena-molano Wilson Estiben  Peña 450
juan-uribezubia Juan María  Uribezubia 451
nelson-rodriguez-serna Nélson  Rodríguez 452
marco-gilli Marco  Gili 453
juan-olmo-menacho Juan  Olmo 454
jesus-hernandez-3 Jesús  Hernández Blázquez 455
israel-nunez-1 Israel  Núñez 456
aurelien-paret-peintre Aurélien  Paret-Peintre 457
cyril-guimard Cyrille  Guimard 458
philippe-durel2 Philippe  Durel 459
gustavo-toledo Gustavo Mario  Toledo 460
fernando-carvalho Fernando Alberto Oliveira  Carvalho 461
guillermo-garcia-janeiro Guillermo  Garcia 462
jean-jacques-sanquer Jean-Jacques  Sanquer 463
gunther-haritz Günter  Haritz 464
pierre-raymond-villemiane Pierre-Raymond  Villemiane 465
christopher-boardman Chris  Boardman 466
julian-sanchez-pimienta Julián  Sánchez 467
javier-lukin Luis Javier  Lukin 468
sergio-paulinho Sérgio Miguel  Paulinho 469
xabier-mikel-azparren-irurzun Xabier Mikel  Azparren 470

Now we check each `_url` field to see if it contains any characters other than letters (after removing hyphens)

In [40]:
# For each data, check if '_url' object contains any character that are not letters, 
i=0
for index, row in dataset.iterrows():
    if not pd.isnull(row['_url']):
            # Delete '-' character from '_url' object
            url = row['_url'].replace('-', '')

            if not url.isalpha():
                i+=1
                print(row['_url'])

print("Tot: ", i)

patrick-busolini2
andrea-peron-1
hans-kanel2
peter-williams-1
juan-garcia2
anders-lund-1
pedro-pinto2
raimondas-rumsas-1
jesper-hansen-1
alessandro-fantini-1
romain-gregoire1
marco-zanotti-1
daniel-lloyd1
jose-antonio-747
kenny-van-braeckel2
alessandro-pozzi2
pino-cerami-2
johan-wellens2
francisco-martin-826
ricardo-martinez2
leon-paul-menard2
benjamin-king-1
hans-dekkers-1
kevin-neirynck-1
antonio-cruz-1
jesus-lopez23
filippo-colombo1
jose-manuel-garcia-114
andrea-zatti-1
marco-cattaneo-2
francisco-lopez-393
michel-nottebart-2
jan-svorada-1
jesus-hernandez-3
israel-nunez-1
philippe-durel2
daniel-jimenez1
georges-claes2
filippo-magli2
frederic-brun-2
manuel-rodriguez-305
stefan-van-dijk-1
luke-roberts-1
benjamin-thomas-2
wim-vervoort-1
connor-brown2
alvaro-sierra-1
william-frischkorn-1
romain-maes2
marc-van-den-brande2
miguel-martinez-1
manuel-martinez-1
Tot:  52

## Check on 'name' data

In this block we check if the `name` contains any numeric characters.

In [9]:
# For each data, check if 'name' object contains any number
for index, row in dataset.iterrows():
    if not pd.isnull(row['name']):
        if any(char.isdigit() for char in row['name']):
            print(row['_url'], row['name'])

In this block we check, for the same `name` value, what is the different `_url`.

In [101]:
# Save names with at least two occurences
temp = dataset['name'].value_counts()
temp = temp[temp > 1]

# Print urls of names with at least two occurences
for name in temp.index:
    urls = dataset[dataset['name'] == name]['_url']
    print(name, urls, '\n')

Jesús  López 2939         jesus-lopez23
5040    jesus-lopez-carril
Name: _url, dtype: object

Roman  Kreuziger 1745    roman-kreuziger-sr
2601       roman-kreuziger
Name: _url, dtype: object

Alberto  Fernández 2953     alberto-fernandez-sainz
5720    alberto-fernandez-blanco
Name: _url, dtype: object

Antonio  Cabello 2862    antonio-cabello-baena
3238          antonio-cabello
Name: _url, dtype: object

Andrea  Peron 347     andrea-peron-1
2682      andrea-peron
Name: _url, dtype: object

Sergio  Domínguez 4917    sergio-dominguez-rodriguez
4919        sergio-dominguez-munoz
Name: _url, dtype: object

Alessandro  Pozzi 2235    alessandro-pozzi2
5722     alessandro-pozzi
Name: _url, dtype: object

## Check on 'birth_year' data

In this block we check if there are `birth_year` values that do not end with '.0'

In [10]:
# For each data, check if 'birth_year' has .0 at the end
for index, row in dataset.iterrows():
    if not pd.isnull(row['birth_year']):
        if not str(row['birth_year']).endswith('.0'):
            print(row['_url'], row['birth_year'])

In this block we check if the `birth year` value is not in the form 'nnnn' and if it is not in the form '19nn' or '20nn'

In [11]:
# For each data, check if 'birth_year' data is in the form 'nnnn'
for index, row in dataset.iterrows():
    if not pd.isnull(row['birth_year']):
        # Delete '.0'  from 'birth_year' object
        year = str(row['birth_year']).replace('.0', '')

        # Check if 'birth_year' float64 is a number and if it's in form 19nn or 20nn
        if not year.isdigit() or not (year.startswith('19') or year.startswith('20')):
            print(row['_url'], row['birth_year'])

## Check on 'weight' data

In this block we check if there are `weight` values that do not end with '.0'

In [13]:
# For each data, check if 'weight' has .0 at the end
for index, row in dataset.iterrows():
    if not pd.isnull(row['weight']):
        if not str(row['weight']).endswith('.0'):
            print(row['_url'], row['weight'])

chad-haga 71.5
txomin-juaristi 67.5
awet-gebremedhin-andemeskel 58.5
pablo-torres 63.5
alessandro-bazzana 63.5
martijn-verschoor 74.5
jure-golcer 66.5
elmar-reinders 78.1
nikias-arndt 77.5
daan-hoole 81.4
thomas-danielson 58.5
ilia-koshevoy 62.5
maxime-farazijn 73.5
harry-tanfield 79.5
florian-stork 65.1

In this block we check if there are `weight` values that contains any character that is not a number

In [121]:
# For each data, check if 'weight' float64 data is a digit
for index, row in dataset.iterrows():
    if not pd.isnull(row['weight']):
        # Delete last two char from 'weight'
        weight = str(row['weight'])[:-2]

        if not weight.isdigit():
            print(row['_url'], row['weight'])

## Check on 'height' data

In this block we check if there are `height` values that do not end with '.0'

In [14]:
# For each data, check if 'height' has .0 at the end
for index, row in dataset.iterrows():
    if not pd.isnull(row['height']):
        if not str(row['height']).endswith('.0'):
            print(row['_url'], row['height'])

In this block we check if there are `height` values that contains any character that is not a number

In [122]:
# For each data, check if 'height' float64 data is a digit
for index, row in dataset.iterrows():
    if not pd.isnull(row['height']):
        # Delete last two char from 'height'
        height = str(row['height'])[:-2]

        if not height.isdigit():
            print(row['_url'], row['height'])

## Check on 'nationality' data

In this block we check if there are `nationality` values that contains any character that is a letter

In [128]:
# For each data, check if 'nationality' object contains any number
for index, row in dataset.iterrows():
    if not pd.isnull(row['nationality']):
        if any(char.isdigit() for char in row['nationality']):
            print(row['_url'], row['nationality'])